body{
    background: url(concrete-9843-in-architextures.jpg);
    background-size: 65%;
    margin: 0;
    padding: 0;
    height: 100%;
}

#sky {
    background: linear-gradient(DeepSkyBlue,LightSkyBlue,AliceBlue);
    height: 78%;
    width: 100%;
    position: absolute;
    z-index: 0;
}
#sun {
    font-size: 125px;
    position: absolute;
    top: 8px;
    left: 475px;
}

#cloud-1{
    font-size: 125px;
    position: absolute;
    top: 35px;
    right: 475px;
}
#cloud-2{
    font-size: 125px;
    position: absolute;
    top: 35px;
    left: 575px;
}

#building-1{
    background: rgb(240, 230, 215);
    height: 400px;
    width:450px;
    position:absolute;
    top: 200px;
    left: 100px;

}

#roof-1{
    border-bottom: 100px solid rgb(241, 241, 238);
    border-left: 100px solid transparent;
    border-right:100px solid transparent;
    position: relative;
    bottom: 100px;
}

#tree{
    width: 2px;
    position: absolute;
    bottom: 150px;
    right:100px;
}