body{
    background: url(grass-3937-in-architextures.jpg);
    background-size: 75%;
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 500px;
}

#sky {
    background: linear-gradient(DeepSkyBlue,LightSkyBlue,AliceBlue);
    height: 78%;
    min-width: 100%;
    position: absolute;
    z-index: 0;
}
#sun {
    font-size: 125px;
    position: absolute;
    top: 8px;
    left: 475px;
}

#cloud-1{
    font-size: 125px;
    position: absolute;
    top: 35px;
    right: 475px;
}
#cloud-2{
    font-size: 125px;
    position: absolute;
    top: 35px;
    left: 575px;
}

#building-1{
    background: rgb(243, 238, 201);
    height: 400px;
    width:450px;
    position:absolute;
    top: 200px;
    left: 100px;

}

#roof-1{
    border-bottom: 100px solid rgb(248, 144, 69);
    border-left: 75px solid transparent;
    border-right:75px solid transparent;
    position: relative;
    bottom: 100px;
}

#door{
    font-size: 125px;
    position: absolute;
    bottom: 75px;
    left:25px;
    z-index: 10;
}

#window-1{
    font-size: 125px;
    position: absolute;
    top: 35px;
    right: 475px;
}

#window-2{

}

#tree{
    width: 2px;
    position: absolute;
    bottom: 150px;
    right:100px;
}